.App {
  text-align: center;
  background-color: #d2e9f2;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiTableRow-root.MuiTableRow-hover:hover{
  background-color: unset !important;
  -moz-box-shadow: 2px 4px 9px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 4px 9px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 4px 9px 0 rgba(0, 0, 0, 0.2);
}

svg.MuiSvgIcon-root.MuiTableSortLabel-icon.MuiTableSortLabel-iconDirectionDesc,
svg.MuiSvgIcon-root.MuiTableSortLabel-icon.MuiTableSortLabel-iconDirectionAsc{
  font-size: 12px !important;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active.MuiTableSortLabel-root.MuiTableSortLabel-active .MuiTableSortLabel-icon{
  font-size: 12px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
